#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.auth-page#root {
  margin: 0 !important;
  max-width: none !important;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
